VITE_FIREBASE_API_KEY=AIzaSyBwNLjgecrZHrCvKqPKaRZLI3vwnEK6JoQ
VITE_FIREBASE_AUTH_DOMAIN=tabungan-siswa-4c067.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tabungan-siswa-4c067
VITE_FIREBASE_STORAGE_BUCKET=tabungan-siswa-4c067.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=547113206317
VITE_FIREBASE_APP_ID=1:547113206317:web:5e892a9dfa2d711a69eea4
VITE_FIREBASE_MEASUREMENT_ID=G-M0PJL8S7JD
